// Colors
$black: #212121;
$dark-grey: #313131;
$grey: #949494;
$red: #D63031;

// Font Size
$heading1: 48px;
$heading2: 30px;
$paragraph: 18px;
$paragraph-sm: 14px;

// Font Family
$font1: 'Open Sans', sans-serif;
$font2: 'Kanit', sans-serif;;
